.title {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 10px !important;
}

.name {
    font-variant: small-caps;
    color: var(--color0);
}

.toggle {
    position: fixed;
    right: 5%;
    top: 20px;
}

.toggle:hover {
    transform: scale(1.3) rotate(-30deg);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.hero {
    width: 30%;
}

h1 {
    font-size: 48px;
}

.typed {
    display: inline;
    font-size: 24px;
    color: var(--color7);
}

.btn {
    width: 150px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.btns {
    margin: 30px 0;
}

.hire-me {
    background-color: var(--bg-secondary);
    border: 2px solid var(--bg-secondary);
    color: white;
}

.view-cv {
    background-color: transparent;
    border: 2px solid var(--bg-secondary);
    color: var(--bg-secondary);
    margin-left: 20px;
}

.actions {
    margin-bottom: 40px;
    display: flex;
    align-items: baseline;
}

.gt {
    margin-left: 12px;
}

.actions > a:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cloud {
    margin-top: 50px;
    text-align: center;
    padding-right: 100px;
}

.about-me {
    display: flex;
    padding: 100px 12%;
}

.profile {
    border-radius: 20px;
    transform: rotate(-3deg);
}

.about-me > .section {
    min-width: 60%;
    margin-left: 50px;
}

.experience {
    margin: 20px 12%;
}

.exp {
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.position {
    color: var(--text-secondary);
    margin-bottom: 0;
}

.company {
    color: #a8a8a8;
    margin-top: 0;
}
