.title {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 10px !important;
}

.name {
    font-variant: small-caps;
    color: var(--color0);
    font-size: 32px;
}

.toggle {
    position: fixed;
    right: 5%;
    top: 20px;
}

.toggle:hover {
    transform: scale(1.3) rotate(-30deg);
    transition: 0.5s ease;
}

.header {
    align-items: center;
    margin-top: 50px;
    padding: 0 12%;
}

.header-row {
    display: flex;
    flex-direction: "row";
    justify-content: space-between;
}

.header-col {
    flex-direction: "column";
}

h1 {
    font-size: 48px;
}

.typed {
    display: inline;
    font-size: 36px;
    color: var(--color7);
    font-family: "computer_pixel-7" !important;
    letter-spacing: 3px;
}

.btn {
    width: 150px;
    /* font-weight: bold; */
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    font-family: "PIXY";
    font-size: 20px;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.btns {
    margin: 20px 0;
}

.hire-me {
    background-color: var(--bg-accent);
    border: 2px solid var(--bg-accent);
    color: white;
    margin-right: 20px;
}

.view-cv {
    background-color: transparent;
    border: 2px solid var(--bg-accent);
    color: var(--bg-accent);
}

.actions {
    display: flex;
    align-items: baseline;
}

.gt {
    margin-right: 12px;
    color: #53B59F;
}

.gt:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s ease;
}

.lt:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.5s ease;
}

.cloud {
    margin-top: 50px;
}

.section {
    min-width: 60%;
    margin: 80px 12%;
}

.section-title {
    font-family: "Cybersky Free Trial";
    font-size: 32px;
    text-align: left !important;
}

.experience {
    margin: 20px 12%;
}

.exp {
    border-radius: 5px;
    background-color: var(--bg-tertiary);
    padding: 10px 40px;
    margin-bottom: 20px;
}

.position {
    color: var(--text-secondary);
    margin-bottom: 0;
    font-family: "PIXY";
    font-size: 20px;
}

.company {
    color: #a8a8a8;
    margin-top: 0;
}

.projects-section {
    margin: 50px 12%;
}

.projects {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
}

.project {
    height: 250px;
    background-color: var(--bg-tertiary);
    border-radius: 5px;
    padding: 0px 20px;
    position: relative;
}

.project > h3 {
    color: var(--text-secondary);
    font-family: "PIXY";
    font-size: 20px;
}

.project > h5 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.topics {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
}

.topic {
    background-color: var(--bg-secondary);
    margin-left: 10px;
    border-radius: 50px;
    padding: 2px 15px;
}

.contact {
    text-align: center;
}

/* .con1 */

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    width: 100%;
}

.form-control {
    background-color: #eeeeee;
    border: 2px solid var(--bg-accent);
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
}

.submit {
    background-color: var(--bg-accent);
    border: 2px solid var(--bg-accent);
    color: white;
    margin-right: 20px;
}

.submit:disabled {
    background-color: grey;
    color: #a8a8a8;
    border: 2px solid grey;
    cursor: none;
}

.submit:disabled:hover {
    transform: scale(1);
}

.footer {
    background-color: var(--bg-accent);
    padding: 20px 12%;
    color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin-top: 50px;
}