:root {
  --text-primary: #111111;
  --bg-primary: #eeeeee;
  --text-secondary: #53B59F;
  --bg-secondary: #66BD88;
  --border: #EEC16D;
  --bg-black: #000000;
  --color0: #53B59F;
  --color1: #10353B;
  --color2: #005554;
  --color3: #215641;
  --color4: #3E877F;
  --color5: #5FB962;
  --color6: #AFC07C;
  --color7: #EEC16D;
  --color8: #E3E1D5;
}

[data-theme="dark"] {
  --text-primary: #eeeeee;
  --bg-primary: #212121;
  --text-secondary: #EEC16D;
  --border: #53B59F;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins-bold"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body::-webkit-scrollbar {
  display: none;
}

.pointer {
  cursor: pointer;
}

a {
  color: var(--text-primary);
  text-decoration-style: dotted;
  font-style: italic;
}